*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    height: 100vh;
    display: grid;
    place-items: center;
    background: linear-gradient(180deg, #000, #ccc);
}
.main{
    width: 600px;
    height: 300px;
    padding: 30px;
    background: linear-gradient(60deg, #ec0a0a, #0936ee);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    color: #fff;
    clip-path: circle(23.2% at 100% 0);
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}
.main h1{
    margin: 30px 0;
    color: #ccc;
    font-weight: bold;
}
.main p{
    font-weight: bold;
    line-height: 150%;
}
.main h3{
    margin: 20px 0;
    color: #ccc;
}

.main:hover{
    clip-path: circle(141.4% at 100% 0);
}