body{
    margin: 0;
    padding: 0;
  }
  .container{
    text-align: center;
    margin-top: 360px;
  }
  .btn{
    border: 1px solid #3498db;
    background: none;
    padding: 10px 20px;
    font-size: 20px;
    font-family: "montserrat";
    cursor: pointer;
    margin: 10px;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
  }
  .btn1,.btn2{
    color: #000;
  }
  .btn3,.btn4{
    color: #fff;
  }
  .btn1:hover,.btn2:hover{
    color: #fff;
  }
  .btn3:hover,.btn4:hover{
    color: #db1414;
  }
  .btn::before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: #34db7c;
    z-index: -1;
    transition: 0.8s;
  }
  .btn1::before,.btn3::before{
    top: 0;
    border-radius: 0 0 50% 50%;
    -webkit-border-radius: 0 0 50% 50%;
    -moz-border-radius: 0 0 50% 50%;
    -ms-border-radius: 0 0 50% 50%;
    -o-border-radius: 0 0 50% 50%;
}
  .btn2::before,.btn4::before{
    bottom: 0;
    border-radius: 50% 50% 0 0;
  }
  .btn3::before,.btn4::before{
    height: 180%;
  }
  .btn1:hover::before,.btn2:hover::before{
    height: 180%;
  }
  .btn3:hover::before,.btn4:hover::before{
    height: 0%;
  }
  