*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
}
h2{
    position: relative;
    font-size: 4rem;
    color: #fff;
    overflow: hidden;
}
h2::before{
    content: "";
    position: absolute;
    left: 120%;
    width: 120%;
    height: 100%;
    background: linear-gradient(90deg, transparent 0%, #130bf2 5%, #ef0606 100%);
    animation: text 10s linear forwards;
    -webkit-animation: text 10s linear forwards;
    border-radius: 5%;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
}
@keyframes text{
    0%{
        left: -20%;
    }
    50%{
        left: 120%;
    }
    100%{
        left: -20%;
    }
}
