*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: beige;
}
.contact-form{
    width: 85%;
    max-width: 600px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    padding: 30px 40px;
    box-sizing: border-box;
    text-align: center;
    box-sizing: 0 0 20px #000000;
    font-family: sans-serif;
}
.contact-form h1{
    margin-top: 0;
    font-weight: 200;
}
.text{
    border: 1px solid green;
    margin: 8px 0;
    padding: 12px 18px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.text label{
    display: flex;
    text-align: center;
    color: #000;
    text-transform: uppercase;
    font-size: 14px;
}

.text input, .text textarea{
    width: 100%;
    border: none;
    background: none;
    outline: none;
    font-size: 18px;
    margin-top: 6px;
}

.btn{
    display: block;
    background: green;
    padding: 10px 0;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 0px;
    width: 100%;
}